* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #d9d9d9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

header {
  text-align: center;
}

header > h1 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #f9f4da;
}

header > p {
  font-size: 0.875rem;
  max-width: 350px;
  color: #8e8e8e;
}

section.game-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: normal;
  background-color: #10a95b;
  color: #f9f4da;
  border-radius: 4px;
}

section.game-status > p {
  margin: 5px;
}
section.game-status > h2 {
  font-size: 1.25rem;
  margin: 5px;
}

section.language-chips {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  flex-wrap: wrap;
  max-width: 300px;
}

section.language-chips > span {
  border-radius: 3px;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.5rem;
}

section.word-tiles {
  display: flex;
  gap: 0.2rem;
}

section.word-tiles > span {
  width: 40px;
  height: 40px;
  background-color: #323232;
  color: #f9f4da;
  text-align: center;
  text-transform: uppercase;
  align-content: center;
  border-bottom: 1px solid #f9f4da;
}

section.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  max-width: 480px;
}

section.keyboard > button {
  width: 40px;
  height: 40px;
  background-color: #fcba29;
  color: #1e1e1e;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 4px;
  border: 1px solid #d7d7d7;
  cursor: pointer;
}

section.keyboard > button.correct {
  background-color: #10a95b;
}

section.keyboard > button.wrong {
  background-color: #ec5d49;
}

button.new-game {
  background-color: #11b5e5;
  color: #282726;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 600;
  padding: 0.5rem 4.5rem;
  cursor: pointer;
}
